* text=auto eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.html text eol=lf
*.bin -text
*.zip -text
*.png -text
*.f32 -text
licenses/** -text -whitespace
